* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Georgia", serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

/* HERO SECTION */
.hero {
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2.7rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.hero p {
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 25px;
}

.play-button {
    width: 55px;
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button span {
    font-size: 1.6rem;
}

.hero-img {
    width: 230px;
    margin-top: 30px;
    opacity: 0.95;
}

/* QUOTE SECTION */
.quote {
    background: white;
    color: black;
    padding: 60px 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}

/* IMAGE SECTION */
.profile-img img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}

/* BIO SECTION */
.bio {
    background: #000;
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.bio p {
    font-size: 1.1rem;
    line-height: 1.8;
    opacity: 0.87;
}

.bio hr {
    border: none;
    border-top: 1px solid #444;
    margin: 40px 0;
}

footer p {
    font-size: 0.9rem;
    opacity: 0.7;
}
